/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

article {
  h2 {
    padding-top: 0.5rem;
    border-bottom: 1px solid var(--global-divider-color);
    padding-bottom: 0.25rem;
  }
  h3 {
    padding-top: 0.25rem;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

// inserting heading numbers
div.post {
  counter-reset: h2_heading_number;
}
d-contents {
  counter-reset: h2_heading_number;
}
h2[id]:before {
  counter-increment: h2_heading_number;
  content: counter(h2_heading_number) ". ";
}

h2[id] {
  counter-reset: h3_heading_number;
}
h3[id]:before {
  counter-increment: h3_heading_number;
  content: counter(h2_heading_number) "." counter(h3_heading_number) ". ";
}

h3[id] {
  counter-reset: h4_heading_number;
}
h4[id]:before {
  counter-increment: h4_heading_number;
  content: counter(h2_heading_number) "." counter(h3_heading_number) "." counter(h4_heading_number) ". ";
}

h4[id] {
  counter-reset: h5_heading_number;
}
h5[id]:before {
  counter-increment: h5_heading_number;
  content: counter(h2_heading_number) "." counter(h3_heading_number) "." counter(h4_heading_number) "." counter(h5_heading_number) ". ";
}


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
